/* header {
    background: pink;
} */

body {
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
}

/* h1 {
    font-family: 'Open Sans';
} */

h1, h2, h3, h4, h5, h6 {
    font-family: 'Fjalla One', sans-serif;
}

h1 {
    /* cambiar alto de linea */
    line-height: 1.5;
    /* tamano de fuente */
    font-size: 40px;
    /* peso de la fuente */
    font-weight: normal;
    
    /* esto es cursiva */
    /* font-style: italic; */

    /* espaciado entre letras o caracteres */
    letter-spacing: -.2px;

    /* para agregar mayusculas */
    /* text-transform: uppercase;

    text-decoration: dashed; */

    color: white;
    margin: 100px 150px 70px 30px;
}

.hero {
    height: 300px;
    background-image: url('../images/Baile3roBGU.jpg');
    background-color: #1b2127;
    background-size: 500px 300px ; /* Primer valor (ANCHO) Segundo valor (ALTO) */
    background-repeat: no-repeat; /* Para que mi imagen no se repita */
    background-position-x: right; /* Posicionar derecha */
}

.hero strong {
    color: #026fff;
}

.portfolio {
    background: #fafafa;
}

.project {
    /* border-top: 10px solid red;
    border-right: 10px solid green;
    border-left: 10px solid orange;
    border-bottom: 10px solid pink; */
    /* border-top-color: red;
    border-width: 15px;
    border-style: solid; */
    border: 1px solid gray;
    border-radius: 10px;

    /* border-radios separado */
    /* border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px; */
    margin: 10px;
    margin-bottom: 15px;
    padding: 20px;
    background: white;
    /* box-sizing: border-box; Sirve para mantener el ancho (width establecido) */
}

.project-details {
    width: 500px;
}

.project-imageContainer {
    width: 500px;
}



.header {
    background-color: #1b2127;
    color: white; /* color a los textos */
}

.header a {
    color: white;
    text-decoration: none; /*ningun estilo (quitar subrayado de los links)*/
}

.flexbox {
    display: flex;

    /* alinear elementos en columna (padre ordena a hijos)
    flex-direction: column; */

    /* propiedad de flex de aceptar que los elementos hijos dejen su estado 
    horizonal y puedan moverse al vertical */
    flex-wrap: wrap;
}

.box {
    width: 200px;
    height: 200px;
    border: 1px solid red;

    /* capacidad de obedecer la habilidad flexible de bloques (valores de 0 - 1)
    NOTA> En este ejemplo respeta el ancho original pero los elementos crean un scroll horizontal */
    flex-shrink: 0;
}