/* header {
    background: pink;
} */

body {
    font-family: 'Source Sans Pro', sans-serif;
}

/* h1 {
    font-family: 'Open Sans';
} */

h1, h2, h3, h4, h5, h6 {
    font-family: 'Fjalla One', sans-serif;
}

h1 {
    /* cambiar alto de linea */
    line-height: 1.5;
    /* tamano de fuente */
    font-size: 40px;
    /* peso de la fuente */
    font-weight: normal;
    
    /* esto es cursiva */
    /* font-style: italic; */

    /* espaciado entre letras o caracteres */
    letter-spacing: -.2px;

    /* para agregar mayusculas */
    /* text-transform: uppercase;

    text-decoration: dashed; */

    color: white;
}

.hero {
    height: 300px;
    background-image: url('../images/Baile3roBGU.jpg');
    background-color: #1b2127;
    background-size: 500px 300px ; /* Primer valor (ANCHO) Segundo valor (ALTO) */
    background-repeat: no-repeat; /* Para que mi imagen no se repita */
    background-position-x: right; /* Posicionar derecha */
}

.hero strong {
    color: #026fff;
}

.project-details {
    width: 500px;
}

.project-imageContainer {
    width: 500px;
}



.header {
    background-color: #1b2127;
    color: white; /* color a los textos */
}

.header a {
    color: white;
    text-decoration: none; /*ningun estilo (quitar subrayado de los links)*/

}